/********** Base styles **********/
* {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
    margin: 40px 0;
    color: #061596
}

/* Section styles */
.section {
    border: 1px solid black;
    padding: 20px;
    margin: 15px 1%;
    float: left;
    position: relative; /* For absolute positioning of the title */
}

/* Section title styles */
.section-title {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px; /* Decreased padding */
    margin-top: -1px; /* Negative margin to overlay the border */
    margin-right: -1px; /* Negative margin to overlay the border */
    border: 1px solid black;
    box-sizing: border-box; /* Include the border in the element's total width/height */
    /* Ensure that the background color is set here if you want a specific color for the title */
}

/* Color classes for individual sections */
.kungfu {
    background-color: #54b81b;
}

.dune {
    background-color: #aa780c;
}

.wonka {
    background-color: #a14176;
}

.title-kungfu {
    background-color: #46a2d3; /* Example color for Kung Fu Panda 4 */
}

.title-dune {
    background-color: #ec7505; /* Example color for Dune: Part Two */
}

.title-wonka {
    background-color: #994bda; /* Example color for Wonka */
}

/* Simple Responsive Framework. */
/********** Large devices only **********/
@media (min-width: 992px) {
    .section {
        width: 30%; /* Each section takes up 30% of the width */
    }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
    .section {
        width: 48%; /* Two sections take up nearly half the width each */
    }
    .wonka {
        clear: both; /* Ensures the second row starts after the two 50% sections */
        width: 98%;
    }
}

/********** Small devices only **********/
@media (max-width: 767px) {
    .section {
        width: 98%; /* Each section takes up almost the full width */
    }
}